<div class="linkNew"><%= link_to t('board.topic.new'), new_board_topic_path(@cur_group.id) %></div>

<table>
  <tr>
    <th><%= t('board.topic.title') %></th>
    <th><%= t('board.user') %></th>
    <th><%= t('board.topic.created') %></th>
    <th><%= t('board.topic.updated') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, board_topic_path(@cur_group, item.id) %></td>
    <td><%= item.user.name %></td>
    <td><%= item.created.strftime("%Y/%m/%d %H:%M") %></td>
    <td><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
    <td>
      <%= link_to(
            t('board.topic.edit'),
            edit_board_topic_path(@cur_group, item.id)
          ) %>
    </td>
    <td>
      <%= link_to(
            t('board.topic.delete'),
            board_topic_path(@cur_group, item.id),
            method: :delete,
            data: {confirm: t('board.topic.confirm')}
          ) %>
    </td>
  </tr>
  <% end %>
</table>
