<div class="linkNew"><%= link_to t('board.topic.new'), new_board_topic_path(@cur_group.id) %></div>

<table>
  <tr>
    <th><%= t('board.topic.title') %></th>
    <th><%= t('board.topic.created') %></th>
    <th><%= t('board.topic.updated') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, board_topic_path(@cur_group, topic.id) %></td>
    <td><%= topic.created.strftime("%Y/%m/%d %H:%M") %></td>
    <td><%= topic.updated.strftime("%Y/%m/%d %H:%M") %></td>
    <td>
      <%= link_to(
            t('board.topic.edit'),
            edit_board_topic_path(@cur_group, topic.id)
          ) %>
    </td>
    <td>
      <%= link_to(
            t('board.topic.delete'),
            board_topic_path(@cur_group, topic.id),
            method: :delete,
            data: {confirm: t('board.topic.confirm')}
          ) %>
    </td>
  </tr>
  <% end %>
</table>
