<div class="linkNew"><%= link_to t('board.topic.new'), "/..g#{@cur_group.id}/board/topics/new" %></div>

<div class="topics">
  <div class="label">
    <div><%= t('board.topic.title') %></div>
    <div><%= t('board.topic.created') %></div>
    <div><%= t('board.topic.updated') %></div>
  </div>

  <% @topics.each do |topic| %>
  <div class="contents">
    <div><%= link_to topic.title, "/..g#{@cur_group.id}/board/topics/#{topic.id}" %></div>
    <div><%= topic.created.strftime("%Y/%m/%d %H:%M") %></div>
    <div><%= topic.updated.strftime("%Y/%m/%d %H:%M") %></div>
    <div>
      <%= link_to(
            t('board.topic.edit'),
            "/..g#{@cur_group.id}/board/topics/#{topic.id}/edit"
          ) %>
    </div>
    <div>
      <%= link_to(
            t('board.topic.delete'),
            "/..g#{@cur_group.id}/board/topics/#{topic.id}",
            method: :delete,
            data: {confirm: t('board.topic.confirm')}
          ) %>
    </div>
  </div>
  <% end %>
</div>
