<div class="linkNew"><%= link_to t('board.topic.new'), new_board_topic_path(@cur_group.id) %></div>

<div class="topics">
  <div class="label">
    <div><%= t('board.topic.title') %></div>
    <div><%= t('board.topic.created') %></div>
    <div><%= t('board.topic.updated') %></div>
  </div>

  <% @topics.each do |topic| %>
  <div class="contents">
    <div><%= link_to topic.title, board_topic_path(@cur_group, topic.id) %></div>
    <div><%= topic.created.strftime("%Y/%m/%d %H:%M") %></div>
    <div><%= topic.updated.strftime("%Y/%m/%d %H:%M") %></div>
    <div>
      <%= link_to(
            t('board.topic.edit'),
            edit_board_topic_path(@cur_group, topic.id) ) %>
    </div>
    <div>
      <%= link_to(
            t('board.topic.delete'),
            board_topic_path(@cur_group, topic.id),
            method: :delete,
            data: {confirm: t('board.topic.confirm')}
          ) %>
    </div>
  </div>
  <% end %>
</div>
