<dl class="see">
  <dt><%= t('board.user') %></dt>
  <dd><%= @item.user.name %></dd>
  <dt><%= t('board.topic.title') %></dt>
  <dd><%= @item.name %></dd>
  <dt><%= t('board.topic.body') %></dt>
  <dd><%= @item.text %></dd>
</dl>

<h2><%= t('board.topic.comment') %></h2>

<table>
  <tr>
    <th><%= t('board.user') %></th>
    <th><%= t('board.comment.body') %></th>
    <th><%= t('board.comment.created') %></th>
    <th><%= t('board.comment.updated') %></th>
    <th></th>
    <th></th>
  </tr>
</table>
 <%= render partial: 'board/comments/comment', collection: @item.children %>

<%= render file: 'board/comments/_form', locals: {parent: @item} %>
