<div class="linkIndex"><%= link_to t('board.topic.list'), board_topics_path(@cur_group.id) %></div>
</br>

<dl class="see">
  <dt><%= t('board.topic.title') %></dt>
  <dd><%= @topic.title %></dd>
  <dt><%= t('board.topic.body') %></dt>
  <dd><%= @topic.body %></dd>
</dl>

<h2><%= t('board.topic.comment') %></h2>

<div class="">
  <div class="label">
    <div><%= t('board.comment.body') %></div>
    <div><%= t('board.comment.created') %></div>
    <div><%= t('board.comment.updated') %></div>
  </div>

  <% @topic.children.each do |comment| %>
  <div class="contents">
    <div><%= comment.body %></div>
    <div><%= comment.created.strftime("%Y年%m月%d日") %></div>
    <div><%= comment.updated.strftime("%Y年%m月%d日") %></div>
    <div>
      <%= link_to(
              t('board.comment.delete'),
              board_topic_comment_path(@cur_group.id, @topic.id, comment.id),
              method: :delete,
              data: {confirm: t('board.comment.confirm')}
            ) %>
    </div>
  </div>
  <% end %>
</div>

<div class="commentForm">
  <%= form_for :comment, url: board_topic_comments_path(@cur_group.id, @topic._id) do |f| %>
    <dl>
      <dt><%= t('board.topic.comment') %></dt>
      <dd><%= f.text_area :body %></dd>
      <dd><%= f.submit t('board.comment.submit') %></dd>
    </dl>
  <% end %>
</div>
