<div class="linkIndex"><%= link_to t('board.topic.list'), board_topics_path(@cur_group.id) %></div>
</br>

<dl class="see">
  <dt><%= t('board.topic.title') %></dt>
  <dd><%= @topic.title %></dd>
  <dt><%= t('board.topic.body') %></dt>
  <dd><%= @topic.body %></dd>
</dl>

<h2><%= t('board.topic.comment') %></h2>

<table>
  <tr>
    <th><%= t('board.comment.body') %></th>
    <th><%= t('board.comment.created') %></th>
    <th><%= t('board.comment.updated') %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render file: 'board/comments/index', locals: {parent: @topic} %>
</table>

<%= render file: 'board/comments/_form', locals: {parent: @topic} %>
